body {
  margin: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*STYLING SELECTORS*/

.selectors__placeholder {
  color: #353238!important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding-left: 10px;
}
.selectors__control {
  height: 50px;
  border-radius: 8px !important;
  border-color: transparent !important;
  border-width: 2px !important;
  background-color: transparent !important;
}
.selectors__control--menu-is-open {
  box-shadow: none !important;
  border-color: transparent !important;
}
.selectors__control--menu-is-open .selectors__indicator {
  transform: rotate(-180deg);
}
.selectors__control--is-focused {
  box-shadow: none !important;
  border-color: transparent !important;
}
.selectors__indicator {
  color: #353238 !important;
}
.selectors__indicator-separator {
  display: none!important;
}
.selectors__menu {
  margin-top: 10px !important;
  border-radius: 8px !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #353238 !important;
  border: 2px solid #E3E3E3 !important;
  box-shadow: none !important;
}
.selectors__menu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.selectors__option {
  border-bottom: 2px solid #E3E3E3 !important;
}
.selectors__single-value {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #353238;
}
.selectors__value-container--has-value .selectors__control {
  border-color: #0086A8 !important;
}